{% extends 'photos/base.html' %}

{% block content %}
    {% for post in object_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.owner }}</a>
                    <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
                </div>
                <img class="img-thumbnail article-img" src="{{ post.img.url }}" >
                <p class="article-content">{{ post.caption }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}