{% extends 'photos/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.owner %}">{{ object.owner }}</a>
                <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
                {% if object.owner == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'photo-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'photo-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <img class="img-thumbnail article-img" src="{{ object.img.url }}" >
            <p class="article-content">{{ object.caption }}</p>
        </div>
        <div class="responses mt-3 mb-3">
            <i class="fa-light fa-heart"></i>
            <i class="fa-light fa-comment"></i>
        </div>
        <div>
            <form action="#" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" name="img_id" value="{{ object.id }}">Like</button>
            </form>
        </div>
    </article>
{% endblock content %}
