{% extends 'photos/base.html' %}

{% block content %}
    <section class="list-section mb-3 mt-3">
        <div class="card">
            <div class="prof mb-3">
                <img src="{{ object.owner.profile.image.url }}" class="rounded-circle account-img" alt="">
                <a class="mr-2" href="{% url 'user-posts' object.owner %}">{{ object.owner }}</a>
                {% if object.owner == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'photo-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'photo-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            
            <img class="card-img-top article-img" src="{{ object.img.url }}" >
            
            <div class="card-body">
                <div class="mb-3 mt-3">
                    <a href="{% url 'like' object.id %}">
                        <i class="fa-solid fa-heart ml-3"></i>
                    </a>
                    <a href="{% url 'new-comment' object.id %}">
                        <i class="fa-solid fa-comment"></i>
                    </a>
                </div>
                <div class="d-flex gap-3">
                    <a class="mr-2" href="{% url 'user-posts' object.owner %}">{{ object.owner }}</a>
                    <p class="article-content">{{ object.caption }}</p>
                </div>
            </div>
        </div>
    </section>
   
{% endblock content %}
